In [1]:
%load_ext cudf.pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [26]:
p = "/home/sistemas/Documents/sexto/Covid-LATAM-Study/peru/positivos_covid.csv"
p2 = "/home/sistemas/Documents/sexto/Covid-LATAM-Study/peru/fallecidos_covid.csv"
d = pd.read_csv(p,sep=';',usecols=["EDAD",'SEXO'])
d2 = pd.read_csv(p2,sep=';',usecols=["EDAD_DECLARADA",'SEXO'])

In [25]:
d.columns

Index(['FECHA_CORTE', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'METODODX',
       'EDAD', 'SEXO', 'FECHA_RESULTADO', 'UBIGEO', 'id_persona'],
      dtype='object')

In [6]:
d.head(9)

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona
0,20241203,TUMBES,TUMBES,TUMBES,AG,46,FEMENINO,20221207,240101,203499
1,20241203,LIMA,LIMA,JESUS MARIA,AG,69,FEMENINO,20230822,150113,221397
2,20241203,SAN MARTIN,MOYOBAMBA,MOYOBAMBA,AG,55,FEMENINO,20240108,220101,295651
3,20241203,AREQUIPA,CAYLLOMA,COPORAQUE,AG,50,MASCULINO,20230824,40506,851625
4,20241203,LIMA,LIMA,JESUS MARIA,AG,58,MASCULINO,20221217,150113,287786
5,20241203,AREQUIPA,AREQUIPA,AREQUIPA,AG,21,FEMENINO,20220111,40101,222704
6,20241203,SAN MARTIN,SAN MARTIN,MORALES,AG,49,MASCULINO,20221207,220910,240360
7,20241203,PIURA,SULLANA,SULLANA,AG,72,FEMENINO,20231010,200601,853074
8,20241203,TACNA,TACNA,TACNA,AG,45,MASCULINO,20221216,230101,206939

In [21]:
d.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 4585360 entries, 0 to 4585359
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   FECHA_CORTE      int64
 1   DEPARTAMENTO     object
 2   PROVINCIA        object
 3   DISTRITO         object
 4   METODODX         object
 5   EDAD             int64
 6   SEXO             object
 7   FECHA_RESULTADO  int64
 8   UBIGEO           int64
 9   id_persona       int64
dtypes: int64(5), object(5)
memory usage: 410.2+ MB

In [10]:
d.SEXO.value_counts()

SEXO
FEMENINO     566
MASCULINO    434
Name: count, dtype: int64

In [33]:
total = {}


total["poblacion"] = []
total["Edad0-15"] = []
total["Edad16-30"] = []
total["Edad31-45"] = []
total["Edad46-60"] = []
total["Edad61-75"] = []
total["Edad76-90"] = []
total["Edad91-105"] = []
total["hombres"] = []
total["mujeres"] = []
#total["intubado"] = []
#total["no_especificado"] = []



total["defunciones"] = []
#total["recuperados"] = []
#total["activos"] = []
#total["hospitalizados"] = []

In [34]:
bins = [0, 15, 30, 45, 60, 75, 90, 105]
labels = [
        "Edad0-15",
        "Edad16-30",
        "Edad31-45",
        "Edad46-60",
        "Edad61-75",
        "Edad76-90",
        "Edad91-105",
]
age_groups = pd.cut(d.EDAD, bins=bins, labels=labels, right=False).value_counts()
for label in labels:
        total[label].append(age_groups.get(label, 0))
total["poblacion"].append(d.shape[0]+d2.shape[0])
sexo_counts = d.SEXO.value_counts() 
s2 = d2.SEXO.value_counts()
total["hombres"].append(sexo_counts.get("FEMENINO", 0) + s2.get("FEMENINO", 0))
total["mujeres"].append(sexo_counts.get("MASCULINO", 0)+ s2.get("MASCULINO", 0))
total["defunciones"].append(d2.shape[0])

In [37]:
totales = pd.DataFrame.from_dict(total)
totales.to_csv("peru.csv")

In [38]:
totales

,poblacion,Edad0-15,Edad16-30,Edad31-45,Edad46-60,Edad61-75,Edad76-90,Edad91-105,hombres,mujeres,defunciones
0,4806278,228397,1092614,1498971,1037910,533848,175023,18126,2458481,2347797,220918